* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
}

.add-form {
    border:  2px solid black;
    border-radius:  6px;
    padding: 0px 30px 15px 30px;
}

.list-item-template {
    width: 90%;
    margin: 0 auto;
}
#saved-trips {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0px 20px 15px 25px;
}

.saved-item {
    display: inline-block;
    width: 20%;
    text-align: left;
    
}

.saved-item + .trip-item {
    width: 25%;
    margin: 0 5% 0 4%;
   
}

.trip-item-controls {
    width: 30%;
    display: inline-block;
}
