* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
}

.add-form {
    border:  2px solid black;
    border-radius:  6px;
    padding: 0px 30px 15px 30px;
}

.list-item-template {
    width: 90%;
    margin: 0 auto;
}

#budget-calc {
    font-weight: bold;
}
.saved-trips {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0px 20px 30px 25px;
}

.saved-item {
    display: inline-block;
    width: 20%;
    text-align: left;  
}

.saved-item + .trip-item {
    width: 25%;
    margin: 0 5% 0 4%; 
}

.trip-item-controls {
    width: 45%;
    display: inline-block;
    padding: 5px 0px 30px 0px;
    text-align: right;
}
.progress {
    width: 50%;
    margin-bottom: 25px;
    margin-top: 15px
}

.single-trip {
    border: 1px solid  gray;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
}